<html>
  {% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Electro Shop</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
  <link rel="shortcut icon" href="media/images/favicon.ico" />

</head>
<body>
 
<div id="app">

    <!-- React will load here -->
</div>

</body>
<noscript>You need to enable JavaScript to run this app.</noscript>

<script src="{% static "frontend/main.js" %}"></script>

</html>